
@{
    ViewData["Title"] = "Chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<app-root>
    Loading Chat Application...
</app-root>


@section Scripts {
    <script type="text/javascript" src="/dist/runtime.js"></script>
    <script type="text/javascript" src="/dist/polyfills.js"></script>
    <script type="text/javascript" src="/dist/styles.js"></script>
    <script type="text/javascript" src="/dist/vendor.js"></script>
    <script type="text/javascript" src="/dist/main.js"></script>
}

<!--<h2>Chat</h2>

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-lg-6">&nbsp;</div>
        <div class="col-lg-6">
            Message<input type="text" id="message" />
            <input type="button" id="send" value="Send Message" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">&nbsp;</div>
        <div class="col-lg-6">
            <ul id="messages"></ul>
        </div>
    </div>
</div>
    -->
